@font-face {
    font-family: poiret_one;
    src: url(fonts/titles/poiret-one/PoiretOne-Regular.ttf);
}

@font-face {
    font-family: Maghfirea;
    src: url(fonts/bannerText/Maghfirea.ttf);
}

body {
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
}

.title {
    text-align: center;
    font-family: poiret_one;
    font-size: 124px;
}

.bannerDiv {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    padding: 0;
}

.bannerSegment {
    width: 25vw;/* 100 / (# of segments) */
    height: 8vh;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    line-height: 8vh;
}

#bannerSegmentHome {
    position: absolute;
    left: 0%;
    top: 0%;
}


#bannerSegmentGallery {
    position: absolute;
    left: 25vw;
}

#bannerSegmentWD {
    position: absolute;
    left: 50vw;

}

#bannerSegmentRSVP {
    position: absolute;
    left: 75vw;
}

.bannerSegmentText {
    font-family: Maghfirea;
    font-size: 24px;
}

.bannerSegment:hover {
    background-color: grey;
    color: white
}
