@font-face {
    font-family: printClearly;
    src: url(../../assets/fonts/login/print-clearly-font/PrintClearly-GGP.ttf);
}

@keyframes colourChange {
    100% {
        background-color: rgb(180, 234, 219);
    }
}

#rsvpSubmission_form {
    height: 33.33vh;
    /* background-color: red; */
    position: relative;
    top: 33.33vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: printClearly;
    /* font-size: 28px; */
}

.rsvp_guestName {
    font-size: 36px;
}

input[type="radio"] {
    accent-color: grey;
    height: 12px;
    width: 12px;
    margin: 3px;
}

.rsvpRadioOptions {
    display: flex;
    gap: 20px;
    font-size: 24px;
    margin-bottom: 16px;
}

#rsvp_SubmitButton {
    margin-top: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 120px;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 28px;
}

#rsvp_SubmitButton:hover {
    animation-name: colourChange;
    animation-duration: 1s;

    /* background-color: rgb(180, 234, 219); */
}

#rsvp_SubmitButton:active {
    background-color: rgb(216, 216, 216);
}

#rsvp-changeName {
    font-size: 24px;
}


#rsvp-goHome {
    margin-top: 16px;
    font-size: 24px;
}

.rsvp_ErrorMessage {
    font-size: 16px;
    color: red;
}

.rsvp_SuccessMessage {
    font-size: 16px;
    color: green;
}