@keyframes appear {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}

.each-slide-effect>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 80vh;
}

.slideShowContainer {
    /* border: red 0.2px solid; */
    position: relative;
    top: 16vh;
}

.slideShowImgContainer {
    position: relative;
    /* border: black 2px solid; */
    /* width: 60%; */
}

.slideShowImg {
    height: 70%;
    max-width: 70%;
}

.arrowStyling {
    position: relative;
    bottom: 0;
    border: 1px black solid;
    border-radius: 50%;
    margin: 3%;
    width: 10vh;
    height: 10vh;
    background-color: transparent;
}

#leftArrow {
    background-image: url('../../assets/images/galleryImages/leftArrow.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 40%;

}

#rightArrow {
    background-image: url('../../assets/images/galleryImages/rightArrow.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 60%;
}

.arrowStyling:hover {
    background-color: rgb(238, 238, 238);
}

.arrowStyling:active {
    background-color: white;
}

@media (orientation: portrait) {
    .slideShowContainer {
        position: relative;
        top: 8vh;
    }

    .slideShowImg {
        width: 75%;
        max-height: 60%;
    }

    .arrowStyling {
        width: 15vw;
        height: 15vw;
    }
}