.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 80vh;
}

.slideShowContainer {
    /* border: red 0.2px solid; */
    position: relative;
    top: 16vh;
    
}

.slideShowImgContainer {
    position: relative;
    /* border: black 2px solid; */
    /* width: 60%; */
}

.slideShowImg {
    height: 100%;;
}